.game-description {
    padding-right: 16px;
}

.game-description__header {
    display: flex;
    justify-content: space-between;
}

.game-description__footer {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
